.card-job-item{
    display: flex;
    border: solid;
}



.job-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    gap: 10px;
    
    width: 300px;

    padding: 16px;

    text-align:center;

    color: var(--color-1);

    background-color: var(--color-4);

    
    border-radius: 16px;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);

}

.job-item > .info-job-item {
    font-size: 10px;
}