:root {
  --color-1: #231942;
  --color-2: #5E548E;
  --color-3: #9F86C0;
  --color-4: #BE95C4;
  --color-5: #E0B1CB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}